# Exploring the UEFA players kaggle dataset 
### /kaggle/input/uefa-euro-2024-players/euro2024_players.csv

In [4]:
import numpy as np 
import pandas as pd

In [5]:
df_euro = pd.read_csv("euro2024_players.csv")

In [6]:
df_euro.head()

,Name,Position,Age,Club,Height,Foot,Caps,Goals,MarketValue,Country
0,Marc-André ter Stegen,Goalkeeper,32,FC Barcelona,187,right,40,0,28000000,Germany
1,Manuel Neuer,Goalkeeper,38,Bayern Munich,193,right,119,0,4000000,Germany
2,Oliver Baumann,Goalkeeper,34,TSG 1899 Hoffenheim,187,right,0,0,3000000,Germany
3,Nico Schlotterbeck,Centre-Back,24,Borussia Dortmund,191,left,12,0,40000000,Germany
4,Jonathan Tah,Centre-Back,28,Bayer 04 Leverkusen,195,right,25,0,30000000,Germany

## What are the top 5 common names of players at EURO 2024?

In [7]:
df_palyersName = df_euro['Name'].str.split(' ', n=1, expand=True)
df_palyersName = df_palyersName.rename(columns={0:'Name', 1:'Surname'})
top_5_names = df_palyersName['Name'].value_counts().head(5)
top_5_names

Name
David     9
Luka      7
Giorgi    7
Tomas     6
Thomas    5
Name: count, dtype: int64

The fast result is unexpected: **David, Luka, and Giorgi**? Why? Where is Alexander?
However, **Tomas ~ Thomas**

## Let's investigate how many causes like **Tomas ~ Thomas** are in df

In [8]:
#import lib to compare names
from thefuzz import fuzz

In [9]:
names_unique = df_palyersName['Name'].unique()

In [11]:
len(names_unique) # count of unique names in dataset

467

In [12]:
names_unique

array(['Marc-André', 'Manuel', 'Oliver', 'Nico', 'Jonathan', 'Antonio',
       'Waldemar', 'Robin', 'David', 'Maximilian', 'Joshua', 'Benjamin',
       'Aleksandar', 'Robert', 'İlkay', 'Toni', 'Pascal', 'Florian',
       'Jamal', 'Kai', 'Chris', 'Leroy', 'Thomas', 'Deniz', 'Niclas',
       'Angus', 'Liam', 'Zander', 'Scott', 'Jack', 'Ryan', 'Grant',
       'Andrew', 'Kieran', 'Greg', 'Anthony', 'Ross', 'Billy', 'John',
       'Callum', 'Stuart', 'Kenny', 'Lewis', 'James', 'Ché', 'Lawrence',
       'Tommy', 'Péter', 'Dénes', 'Willi', 'Attila', 'Márton', 'Botond',
       'Ádám', 'Milos', 'Zsolt', 'Bendegúz', 'Endre', 'Loïc', 'Dominik',
       'András', 'Mihály', 'Dániel', 'László', 'Krisztofer', 'Roland',
       'Kevin', 'Barnabás', 'Martin', 'Gregor', 'Yann', 'Yvon', 'Fabian',
       'Leonidas', 'Cédric', 'Ricardo', 'Silvan', 'Denis', 'Granit',
       'Ardon', 'Michel', 'Remo', 'Vincent', 'Xherdan', 'Noah', 'Steven',
       'Dan', 'Rubén', 'Renato', 'Breel', 'Zeki', 'Kwadwo', 'Unai',
       'Álex', 'Dani', 'Aymeric', 'Nacho', 'Alejandro', 'Marc', 'Daniel',
       'Jesús', 'Rodri', 'Martín', 'Pedri', 'Mikel', 'Fabián', 'Fermín',
       'Ferran', 'Ayoze', 'Lamine', 'Álvaro', 'Joselu', 'Nediljko',
       'Ivica', 'Josip', 'Marin', 'Domagoj', 'Josko', 'Borna', 'Marcelo',
       'Mateo', 'Luka', 'Mario', 'Lovro', 'Nikola', 'Marko', 'Ivan',
       'Marco', 'Andrej', 'Ante', 'Bruno', 'Elhan', 'Etrit', 'Berat',
       'Marash', 'Ardian', 'Enea', 'Arlind', 'Naser', 'Elseid', 'Iván',
       'Kristjan', 'Ylber', 'Klaus', 'Amir', 'Qazim', 'Medon', 'Ernest',
       'Nedim', 'Arbër', 'Jasir', 'Armando', 'Rey', 'Taulant', 'Mirlind',
       'Gianluigi', 'Guglielmo', 'Alex', 'Alessandro', 'Riccardo',
       'Gianluca', 'Federico', 'Andrea', 'Giovanni', 'Raoul', 'Matteo',
       'Bryan', 'Jorginho', 'Nicolò', 'Davide', 'Michael', 'Lorenzo',
       'Mattia', 'Stephan', 'Giacomo', 'Jan', 'Vid', 'Igor', 'Jaka',
       'Vanja', 'Zan', 'Jure', 'Erik', 'Petar', 'Jon', 'Adrian', 'Sandi',
       'Adam', 'Miha', 'Timi', 'Jasmin', 'Tomi', 'Andraz', 'Aaron',
       'Jordan', 'Dean', 'Ezri', 'Joe', 'Luke', 'Trent', 'Kyle', 'Declan',
       'Conor', 'Kobbie', 'Jude', 'Cole', 'Eberechi', 'Phil', 'Bukayo',
       'Jarrod', 'Harry', 'Ollie', 'Mads', 'Frederik', 'Kasper',
       'Andreas', 'Joachim', 'Jannik', 'Simon', 'Zanka', 'Victor',
       'Joakim', 'Alexander', 'Rasmus', 'Morten', 'Christian',
       'Pierre-Emile', 'Mathias', 'Mikkel', 'Jacob', 'Anders', 'Jonas',
       'Yussuf', 'Djordje', 'Predrag', 'Strahinja', 'Srdjan', 'Nemanja',
       'Uros', 'Filip', 'Sergej', 'Lazar', 'Saša', 'Mijat', 'Veljko',
       'Dusan', 'Andrija', 'Dušan', 'Marcin', 'Wojciech', 'Lukasz',
       'Paweł', 'Sebastian', 'Bartosz', 'Jakub', 'Tymoteusz', 'Damian',
       'Taras', 'Piotr', 'Kacper', 'Przemyslaw', 'Nicola', 'Michal',
       'Kamil', 'Krzysztof', 'Karol', 'Bart', 'Justin', 'Mark',
       'Matthijs', 'Micky', 'Nathan', 'Virgil', 'Stefan', 'Daley',
       'Lutsharel', 'Jerdy', 'Frenkie', 'Joey', 'Tijjani', 'Georginio',
       'Jeremie', 'Denzel', 'Xavi', 'Teun', 'Cody', 'Donyell', 'Brian',
       'Memphis', 'Wout', 'Niklas', 'Patrick', 'Heinz', 'Philipp',
       'Flavius', 'Leopold', 'Gernot', 'Phillipp', 'Konrad', 'Marcel',
       'Nicolas', 'Christoph', 'Romano', 'Matthias', 'Mike', 'Brice',
       'Alphonse', 'William', 'Dayot', 'Jules', 'Ibrahima', 'Theo',
       'Ferland', 'Aurélien', "N'Golo", 'Eduardo', 'Warren', 'Adrien',
       'Youssouf', 'Kingsley', 'Bradley', 'Ousmane', 'Kylian', 'Marcus',
       'Randal', 'Antoine', 'Olivier', 'Matz', 'Koen', 'Arthur', 'Zeno',
       'Axel', 'Maxim', 'Timothy', 'Amadou', 'Youri', 'Orel', 'Aster',
       'Charles', 'Jérémy', 'Leandro', 'Yannick', 'Johan', 'Dodi', 'Loïs',
       'Romelu', 'Marek', 'Henrich', 'Milan', 'Norbert', 'Vernon',
       'Peter', 'Stanislav', 'Laszlo', 'Ondrej', 'Patrik', 'Matus',
       'Tomas', 'Juraj', 'Lukas', 'Leo', 'Lubomir', 'Ștefan', 'Horațiu',
       'Florin', 'Radu', 'Andrei', 'Bogdan', 'Ionuț', 'Nicuşor', 'Vasile',
       'Răzvan', 'Marius', 'Darius', 'Nicolae', 'Alexandru', 'Ianis',
       'Florinel', 'Valentin', 'Dennis', 'Deian', 'George', 'Anatoliy',
       'Andriy', 'Georgiy', 'Ilya', 'Mykola', 'Valeriy', 'Maksym',
       'Oleksandr', 'Vitaliy', 'Yukhym', 'Volodymyr', 'Sergiy', 'Ruslan',
       'Mykhaylo', 'Viktor', 'Artem', 'Vladyslav', 'Roman', 'Altay',
       'Uğurcan', 'Mert', 'Merih', 'Ahmetcan', 'Abdülkerim', 'Kaan',
       'Samet', 'Ferdi', 'Hakan', 'İsmail', 'Salih', 'Okay', 'Orkun',
       'Arda', 'Yusuf', 'Kerem', 'Barış', 'İrfan', 'Yunus', 'Kenan',
       'Semih', 'Bertuğ', 'Cenk', 'Giorgi', 'Lasha', 'Solomon', 'Jemal',
       'Guram', 'Anzor', 'Nika', 'Gabriel', 'Sandro', 'Otar', 'Khvicha',
       'Saba', 'Zuriko', 'Levan', 'Georges', 'Budu', 'Diogo', 'José',
       'Rui', 'Rúben', 'Gonçalo', 'António', 'Pepe', 'Nuno', 'João',
       'Nélson', 'Danilo', 'Matheus', 'Vitinha', 'Bernardo', 'Rafael',
       'Pedro', 'Francisco', 'Cristiano', 'Matej', 'Vitezslav',
       'Jindrich', 'Ladislav', 'Vladimír', 'Pavel', 'Antonín', 'Vaclav',
       'Mojmír'], dtype=object)

In [13]:
#Let's create a cartesian product for the list of names, to compare each other
df_names_vectors = pd.DataFrame(np.array(np.meshgrid(names_unique, names_unique)).T.reshape(-1,2), columns=['Name1', 'Name2'])

In [17]:
#Function to compare names by rows in the cartesian product dataframe
def df_row_similarity(row):
    return fuzz.ratio(row["Name1"], row["Name2"])

#adding similarity column as a result to every row
df_names_vectors["Similarity"] = df_names_vectors.apply(df_row_similarity, axis=1)

In [18]:
#if names in the row are equals to mark as Equality = True for futher filtering
df_names_vectors["Equality"] = df_names_vectors["Name1"] == df_names_vectors["Name2"]

In [19]:
#result table
df_names_vectors

             Name1       Name2  Similarity  Equality
0       Marc-André  Marc-André         100      True
1       Marc-André      Manuel          38     False
2       Marc-André      Oliver          12     False
3       Marc-André        Nico          14     False
4       Marc-André    Jonathan          22     False
...            ...         ...         ...       ...
218084      Mojmír    Vladimír          43     False
218085      Mojmír       Pavel           0     False
218086      Mojmír     Antonín          31     False
218087      Mojmír      Vaclav           0     False
218088      Mojmír      Mojmír         100      True

[218089 rows x 4 columns]

In [20]:
#Print sample table to understand the Similarity level based on "Alex" name
#filter out ["Equality"] != True and sorted by ['Similarity'] desc
mask_equality_out =  df_names_vectors["Equality"] != True 
mask_alex_included = df_names_vectors["Name1"].str.contains('alex',case=False) 
df_alex = df_names_vectors[mask_equality_out & mask_alex_included].sort_values(by = ['Similarity'], ascending = False)
df_alex.head(30)

            Name1       Name2  Similarity  Equality
175347  Alexandru   Alexander          89     False
104049  Alexander   Alexandru          89     False
103771  Alexander   Alejandro          78     False
175222  Alexandru   Alejandro          78     False
73412        Alex        Álex          75     False
103832  Alexander  Alessandro          74     False
103686  Alexander  Aleksandar          74     False
175137  Alexandru  Aleksandar          74     False
175283  Alexandru  Alessandro          74     False
103904  Alexander      Anders          67     False
103701  Alexander      Zander          67     False
175514  Alexandru   Oleksandr          67     False
104063  Alexander   Oleksandr          67     False
73694        Alex   Alexandru          62     False
104014  Alexander     Leandro          62     False
175465  Alexandru     Leandro          62     False
103831  Alexander        Alex          62     False
175282  Alexandru        Alex          62     False
73541        Alex   Alexander          62     False
175287  Alexandru      Andrea          53     False
175190  Alexandru      Roland          53     False
175262  Alexandru      Arlind          53     False
175253  Alexandru      Andrej          53     False
104040  Alexander      Andrei          53     False
175557  Alexandru      Sandro          53     False
175317  Alexandru      Andraz          53     False
103866  Alexander      Andraz          53     False
103811  Alexander      Arlind          53     False
103802  Alexander      Andrej          53     False
103739  Alexander      Roland          53     False

In [23]:
#Based on "Alex" name distribution sample Let's take 74 as a level of Similarity
mask_similarity = df_names_vectors["Similarity"] >= 74

In [24]:
#deleting sample data
del df_alex, mask_alex_included

In [27]:
#We should also consider options with lower Similarity level such as Alex - Alexander (Similarity 62)

In [28]:
#Let's add another parameter as "Inclusion" when longer name contains short name
def df_row_name_inclusion(row):
    return row["Name2"] in row["Name1"]

df_names_vectors["Name_inclusion"] = df_names_vectors.apply(df_row_name_inclusion, axis=1)

In [29]:
#create the new mask for inclusion
mask_inclusion = df_names_vectors["Name_inclusion"] == True

In [31]:
#Check if the result of inclusion contains data as expected
df_names_vectors[mask_equality_out & mask_inclusion & (df_names_vectors["Name_inclusion"] == True)].head(10)

            Name1  Name2  Similarity  Equality  Name_inclusion
98     Marc-André   Marc          57     False            True
2052     Jonathan    Jon          55     False            True
4535   Maximilian  Maxim          67     False            True
12789      Zander    Zan          67     False            True
32257      Gregor   Greg          80     False            True
34451    Leonidas    Leo          55     False            True
43984        Dani    Dan          86     False            True
46319      Daniel    Dan          67     False            True
46327      Daniel   Dani          80     False            True
48872       Mikel   Mike          89     False            True

In [32]:
#create df with list of names we are considering as equal
df_equal_names = df_names_vectors[mask_equality_out & (mask_similarity | mask_inclusion)][["Name1", "Name2"]]

In [34]:
df_equal_names

             Name1      Name2
98      Marc-André       Marc
1260        Oliver    Olivier
1569          Nico     Nicolò
1662          Nico     Nicola
2052      Jonathan        Jon
...            ...        ...
210249      Danilo     Daniel
210973     Matheus      Matus
212588       Pedro      Pedri
213644   Cristiano  Christian
214006       Matej      Mateo

[372 rows x 2 columns]

In [35]:
#inspecting the list visually
for index, row in df_equal_names.iterrows():
    print('index' + str(index))
    print('Name1:' + str(row["Name1"]) +' Name2:' + str(row["Name2"]))

index98
Name1:Marc-André Name2:Marc
index1260
Name1:Oliver Name2:Olivier
index1569
Name1:Nico Name2:Nicolò
index1662
Name1:Nico Name2:Nicola
index2052
Name1:Jonathan Name2:Jon
index2210
Name1:Jonathan Name2:Johan
index2780
Name1:Antonio Name2:António
index3905
Name1:David Name2:Davide
index4535
Name1:Maximilian Name2:Maxim
index5701
Name1:Aleksandar Name2:Alejandro
index5762
Name1:Aleksandar Name2:Alessandro
index5826
Name1:Aleksandar Name2:Alexander
index5979
Name1:Aleksandar Name2:Alexandru
index5993
Name1:Aleksandar Name2:Oleksandr
index6420
Name1:Robert Name2:Norbert
index7196
Name1:Toni Name2:Tomi
index8303
Name1:Florian Name2:Florin
index8316
Name1:Florian Name2:Florinel
index8833
Name1:Jamal Name2:Jemal
index9136
Name1:Kai Name2:Kamil
index10167
Name1:Leroy Name2:Leo
index10631
Name1:Thomas Name2:Tomas
index10818
Name1:Deniz Name2:Denis
index11469
Name1:Niclas Name2:Nicola
index11498
Name1:Niclas Name2:Niklas
index11508
Name1:Niclas Name2:Nicolas
index11582
Name1:Niclas Name2:Nicolae
index12789
Name1:Zander Name2:Zan
index13721
Name1:Jack Name2:Jaka
index14555
Name1:Grant Name2:Granit
index15072
Name1:Andrew Name2:Andrej
index15106
Name1:Andrew Name2:Andrea
index15159
Name1:Andrew Name2:Andreas
index15310
Name1:Andrew Name2:Andrei
index15947
Name1:Greg Name2:Gregor
index17930
Name1:John Name2:Jon
index18088
Name1:John Name2:Johan
index19567
Name1:Kenny Name2:Kenan
index22300
Name1:Péter Name2:Peter
index23190
Name1:Willi Name2:William
index27430
Name1:Loïc Name2:Loïs
index28235
Name1:András Name2:Andreas
index28250
Name1:András Name2:Anders
index29053
Name1:Dániel Name2:Daniel
index30152
Name1:Krisztofer Name2:Krzysztof
index31858
Name1:Martin Name2:Martín
index31871
Name1:Martin Name2:Marin
index32004
Name1:Martin Name2:Marcin
index32257
Name1:Gregor Name2:Greg
index33729
Name1:Fabian Name2:Fabián
index34451
Name1:Leonidas Name2:Leo
index35184
Name1:Ricardo Name2:Riccardo
index35982
Name1:Denis Name2:Deniz
index36338
Name1:Denis Name2:Dennis
index36457
Name1:Granit Name2:Grant
index37086
Name1:Ardon Name2:Aaron
index37530
Name1:Michel Name2:Michael
index37622
Name1:Michel Name2:Michal
index40256
Name1:Dan Name2:Dani
index40357
Name1:Dan Name2:Dean
index40407
Name1:Dan Name2:Dusan
index40409
Name1:Dan Name2:Dušan
index40542
Name1:Dan Name2:Deian
index43588
Name1:Álex Name2:Alex
index43984
Name1:Dani Name2:Dan
index43997
Name1:Dani Name2:Daniel
index44093
Name1:Dani Name2:Dean
index44348
Name1:Dani Name2:Danilo
index45311
Name1:Alejandro Name2:Aleksandar
index45457
Name1:Alejandro Name2:Alessandro
index45521
Name1:Alejandro Name2:Alexander
index45639
Name1:Alejandro Name2:Leandro
index45674
Name1:Alejandro Name2:Alexandru
index45893
Name1:Marc Name2:Marco
index46014
Name1:Marc Name2:Marcin
index46034
Name1:Marc Name2:Mark
index46065
Name1:Marc Name2:Marcel
index46089
Name1:Marc Name2:Marcus
index46295
Name1:Daniel Name2:Dániel
index46319
Name1:Daniel Name2:Dan
index46327
Name1:Daniel Name2:Dani
index46683
Name1:Daniel Name2:Danilo
index47702
Name1:Martín Name2:Martin
index48556
Name1:Pedri Name2:Pedro
index48796
Name1:Mikel Name2:Mikkel
index48872
Name1:Mikel Name2:Mike
index49107
Name1:Fabián Name2:Fabian
index50281
Name1:Ferran Name2:Ferland
index53773
Name1:Marin Name2:Martin
index53827
Name1:Marin Name2:Mario
index53953
Name1:Marin Name2:Marcin
index55671
Name1:Marcelo Name2:Marc
index55700
Name1:Marcelo Name2:Marco
index55872
Name1:Marcelo Name2:Marcel
index56205
Name1:Mateo Name2:Matteo
index56498
Name1:Mateo Name2:Matej
index56705
Name1:Luka Name2:Luke
index56757
Name1:Luka Name2:Lukasz
index56866
Name1:Luka Name2:Lukas
index57089
Name1:Mario Name2:Marin
index57099
Name1:Mario Name2:Marko
index57101
Name1:Mario Name2:Marco
index58169
Name1:Nikola Name2:Nicola
index58198
Name1:Nikola Name2:Niklas
index58208
Name1:Nikola Name2:Nicolas
index58282
Name1:Nikola Name2:Nicolae
index58338
Name1:Nikola Name2:Nika
index58497
Name1:Marko Name2:Mario
index58502
Name1:Marko Name2:Marco
index58643
Name1:Marko Name2:Mark
index58721
Name1:Marko Name2:Marek
index58982
Name1:Ivan Name2:Iván
index59407
Name1:Marco Name2:Marc
index59428
Name1:Marco Name2:Marcelo
index59431
Name1:Marco Name2:Mario
index59434
Name1:Marco Name2:Marko
index59808
Name1:Andrej Name2:Andrew
index59938
Name1:Andrej Name2:Andrea
index59991
Name1:Andrej Name2:Andreas
index60022
Name1:Andrej Name2:Andrija
index60130
Name1:Andrej Name2:Ondrej
index60142
Name1:Andrej Name2:Andrei
index63230
Name1:Ardian Name2:Adrian
index63459
Name1:Ardian Name2:Arda
index64133
Name1:Arlind Name2:Mirlind
index65506
Name1:Iván Name2:Ivan
index70851
Name1:Armando Name2:Amadou
index72055
Name1:Mirlind Name2:Arlind
index73412
Name1:Alex Name2:Álex
index73798
Name1:Alessandro Name2:Aleksandar
index73883
Name1:Alessandro Name2:Alejandro
index74008
Name1:Alessandro Name2:Alexander
index74161
Name1:Alessandro Name2:Alexandru
index74175
Name1:Alessandro Name2:Oleksandr
index74328
Name1:Riccardo Name2:Ricardo
index75400
Name1:Federico Name2:Frederik
index75686
Name1:Andrea Name2:Andrew
index75782
Name1:Andrea Name2:Andrej
index75846
Name1:Andrea Name2:Andraz
index75869
Name1:Andrea Name2:Andreas
index75900
Name1:Andrea Name2:Andrija
index76020
Name1:Andrea Name2:Andrei
index77175
Name1:Matteo Name2:Mateo
index77809
Name1:Bryan Name2:Brian
index78459
Name1:Nicolò Name2:Nico
index78717
Name1:Nicolò Name2:Nicola
index78756
Name1:Nicolò Name2:Nicolas
index78830
Name1:Nicolò Name2:Nicolae
index78931
Name1:Davide Name2:David
index79470
Name1:Michael Name2:Michel
index79652
Name1:Michael Name2:Michal
index80551
Name1:Mattia Name2:Mathias
index80627
Name1:Mattia Name2:Matthias
index81064
Name1:Stephan Name2:Stefan
index82067
Name1:Jan Name2:Johan
index83155
Name1:Jaka Name2:Jack
index84279
Name1:Zan Name2:Zanka
index84731
Name1:Jure Name2:Jude
index85190
Name1:Erik Name2:Ezri
index85812
Name1:Petar Name2:Peter
index85966
Name1:Jon Name2:John
index86159
Name1:Jon Name2:Jonas
index86270
Name1:Jon Name2:Johan
index86530
Name1:Adrian Name2:Ardian
index86641
Name1:Adrian Name2:Andrija
index86712
Name1:Adrian Name2:Adrien
index87743
Name1:Adam Name2:Arda
index88058
Name1:Miha Name2:Michal
index88454
Name1:Timi Name2:Tomi
index89212
Name1:Tomi Name2:Toni
index89386
Name1:Tomi Name2:Timi
index89826
Name1:Andraz Name2:Andrea
index89879
Name1:Andraz Name2:Andreas
index89910
Name1:Andraz Name2:Andrija
index90210
Name1:Aaron Name2:Ardon
index91151
Name1:Dean Name2:Dan
index91159
Name1:Dean Name2:Dani
index91266
Name1:Dean Name2:Declan
index91445
Name1:Dean Name2:Deian
index91714
Name1:Ezri Name2:Erik
index92277
Name1:Joe Name2:Joey
index92587
Name1:Luke Name2:Luka
index94062
Name1:Declan Name2:Dean
index95449
Name1:Jude Name2:Jure
index99632
Name1:Frederik Name2:Federico
index100197
Name1:Kasper Name2:Kacper
index100437
Name1:Andreas Name2:Andrew
index100465
Name1:Andreas Name2:András
index100533
Name1:Andreas Name2:Andrej
index100567
Name1:Andreas Name2:Andrea
index100597
Name1:Andreas Name2:Andraz
index100635
Name1:Andreas Name2:Anders
index100771
Name1:Andreas Name2:Andrei
index101093
Name1:Joachim Name2:Joakim
index101514
Name1:Jannik Name2:Jan
index101680
Name1:Jannik Name2:Yannick
index102453
Name1:Zanka Name2:Zan
index103136
Name1:Victor Name2:Viktor
index103423
Name1:Joakim Name2:Joachim
index103686
Name1:Alexander Name2:Aleksandar
index103771
Name1:Alexander Name2:Alejandro
index103831
Name1:Alexander Name2:Alex
index103832
Name1:Alexander Name2:Alessandro
index104049
Name1:Alexander Name2:Alexandru
index105095
Name1:Christian Name2:Chris
index105532
Name1:Christian Name2:Cristiano
index106181
Name1:Mathias Name2:Mattia
index106278
Name1:Mathias Name2:Matthijs
index106312
Name1:Mathias Name2:Matthias
index106580
Name1:Mikkel Name2:Mikel
index106780
Name1:Mikkel Name2:Mike
index107470
Name1:Anders Name2:András
index107625
Name1:Anders Name2:Andreas
index108061
Name1:Jonas Name2:Jon
index108662
Name1:Yussuf Name2:Youssouf
index108759
Name1:Yussuf Name2:Yusuf
index113449
Name1:Saša Name2:Saba
index114501
Name1:Dusan Name2:Dan
index114662
Name1:Dusan Name2:Dušan
index115010
Name1:Andrija Name2:Andrej
index115044
Name1:Andrija Name2:Andrea
index115067
Name1:Andrija Name2:Adrian
index115074
Name1:Andrija Name2:Andraz
index115248
Name1:Andrija Name2:Andrei
index115265
Name1:Andrija Name2:Andriy
index115435
Name1:Dušan Name2:Dan
index115594
Name1:Dušan Name2:Dusan
index115884
Name1:Marcin Name2:Martin
index115914
Name1:Marcin Name2:Marc
index115931
Name1:Marcin Name2:Marin
index116871
Name1:Lukasz Name2:Luka
index117109
Name1:Lukasz Name2:Lukas
index118417
Name1:Bartosz Name2:Bart
index121167
Name1:Kacper Name2:Kasper
index121890
Name1:Nicola Name2:Nico
index121911
Name1:Nicola Name2:Niclas
index122011
Name1:Nicola Name2:Nikola
index122055
Name1:Nicola Name2:Nicolò
index122187
Name1:Nicola Name2:Nicolas
index122261
Name1:Nicola Name2:Nicolae
index122434
Name1:Michal Name2:Michel
index122524
Name1:Michal Name2:Michael
index122542
Name1:Michal Name2:Miha
index122840
Name1:Kamil Name2:Kai
index123352
Name1:Krzysztof Name2:Krisztofer
index125254
Name1:Mark Name2:Marc
index125281
Name1:Mark Name2:Marko
index125502
Name1:Mark Name2:Marek
index125850
Name1:Matthijs Name2:Mathias
index125926
Name1:Matthijs Name2:Matthias
index127664
Name1:Stefan Name2:Stephan
index127853
Name1:Stefan Name2:Ștefan
index130023
Name1:Joey Name2:Joe
index131144
Name1:Georginio Name2:Georgiy
index134195
Name1:Brian Name2:Bryan
index135454
Name1:Niklas Name2:Niclas
index135554
Name1:Niklas Name2:Nikola
index135730
Name1:Niklas Name2:Nicolas
index135860
Name1:Niklas Name2:Nika
index136252
Name1:Patrick Name2:Patrik
index137038
Name1:Philipp Name2:Phil
index137128
Name1:Philipp Name2:Phillipp
index138125
Name1:Leopold Name2:Leo
index138906
Name1:Phillipp Name2:Phil
index138992
Name1:Phillipp Name2:Philipp
index139731
Name1:Marcel Name2:Marc
index139752
Name1:Marcel Name2:Marcelo
index140103
Name1:Nicolas Name2:Nico
index140124
Name1:Nicolas Name2:Niclas
index140224
Name1:Nicolas Name2:Nikola
index140268
Name1:Nicolas Name2:Nicolò
index140361
Name1:Nicolas Name2:Nicola
index140390
Name1:Nicolas Name2:Niklas
index140474
Name1:Nicolas Name2:Nicolae
index140587
Name1:Christoph Name2:Chris
index141433
Name1:Romano Name2:Roman
index141673
Name1:Matthias Name2:Mattia
index141728
Name1:Matthias Name2:Mathias
index141770
Name1:Matthias Name2:Matthijs
index142072
Name1:Mike Name2:Mikel
index142196
Name1:Mike Name2:Mikkel
index143418
Name1:William Name2:Willi
index145811
Name1:Ferland Name2:Ferran
index148224
Name1:Adrien Name2:Adrian
index148738
Name1:Youssouf Name2:Yussuf
index148921
Name1:Youssouf Name2:Yusuf
index150939
Name1:Marcus Name2:Marc
index151213
Name1:Marcus Name2:Marius
index152244
Name1:Olivier Name2:Oliver
index156129
Name1:Amadou Name2:Armando
index158877
Name1:Leandro Name2:Alejandro
index159212
Name1:Leandro Name2:Sandro
index159317
Name1:Yannick Name2:Yann
index159464
Name1:Yannick Name2:Jannik
index159718
Name1:Johan Name2:Jonathan
index159752
Name1:Johan Name2:John
index159889
Name1:Johan Name2:Jan
index159898
Name1:Johan Name2:Jon
index160706
Name1:Loïs Name2:Loïc
index161707
Name1:Marek Name2:Marko
index161850
Name1:Marek Name2:Mark
index162996
Name1:Norbert Name2:Robert
index163964
Name1:Peter Name2:Péter
index164100
Name1:Peter Name2:Petar
index165446
Name1:Ondrej Name2:Andrej
index166076
Name1:Patrik Name2:Patrick
index166703
Name1:Matus Name2:Matheus
index166741
Name1:Tomas Name2:Thomas
index167774
Name1:Lukas Name2:Luka
index167903
Name1:Lukas Name2:Lukasz
index168141
Name1:Leo Name2:Leroy
index169327
Name1:Ștefan Name2:Stefan
index170005
Name1:Florin Name2:Florian
index170365
Name1:Florin Name2:Florinel
index170954
Name1:Andrei Name2:Andrew
index171050
Name1:Andrei Name2:Andrej
index171084
Name1:Andrei Name2:Andrea
index171137
Name1:Andrei Name2:Andreas
index171168
Name1:Andrei Name2:Andrija
index171305
Name1:Andrei Name2:Andriy
index174047
Name1:Marius Name2:Marcus
index174097
Name1:Marius Name2:Darius
index174563
Name1:Darius Name2:Marius
index174661
Name1:Nicolae Name2:Nico
index174682
Name1:Nicolae Name2:Niclas
index174782
Name1:Nicolae Name2:Nikola
index174826
Name1:Nicolae Name2:Nicolò
index174919
Name1:Nicolae Name2:Nicola
index174958
Name1:Nicolae Name2:Nicolas
index175137
Name1:Alexandru Name2:Aleksandar
index175222
Name1:Alexandru Name2:Alejandro
index175282
Name1:Alexandru Name2:Alex
index175283
Name1:Alexandru Name2:Alessandro
index175347
Name1:Alexandru Name2:Alexander
index176076
Name1:Florinel Name2:Florian
index176423
Name1:Florinel Name2:Florin
index177070
Name1:Dennis Name2:Denis
index177546
Name1:Deian Name2:Dan
index177655
Name1:Deian Name2:Dean
index178311
Name1:George Name2:Georgiy
index178365
Name1:George Name2:Georges
index179107
Name1:Andriy Name2:Andrija
index179227
Name1:Andriy Name2:Andrei
index179608
Name1:Georgiy Name2:Georginio
index179709
Name1:Georgiy Name2:George
index179721
Name1:Georgiy Name2:Sergiy
index179752
Name1:Georgiy Name2:Giorgi
index181675
Name1:Oleksandr Name2:Aleksandar
index181821
Name1:Oleksandr Name2:Alessandro
index183915
Name1:Sergiy Name2:Georgiy
index185152
Name1:Viktor Name2:Victor
index186635
Name1:Roman Name2:Romano
index193473
Name1:Arda Name2:Ardian
index193525
Name1:Arda Name2:Adam
index194037
Name1:Yusuf Name2:Yussuf
index194123
Name1:Yusuf Name2:Youssouf
index196181
Name1:Kenan Name2:Kenny
index198392
Name1:Giorgi Name2:Georgiy
index199427
Name1:Jemal Name2:Jamal
index200934
Name1:Nika Name2:Nikola
index201100
Name1:Nika Name2:Niklas
index202084
Name1:Sandro Name2:Leandro
index203387
Name1:Saba Name2:Saša
index204927
Name1:Georges Name2:George
index207820
Name1:António Name2:Antonio
index210236
Name1:Danilo Name2:Dan
index210244
Name1:Danilo Name2:Dani
index210249
Name1:Danilo Name2:Daniel
index210973
Name1:Matheus Name2:Matus
index212588
Name1:Pedro Name2:Pedri
index213644
Name1:Cristiano Name2:Christian
index214006
Name1:Matej Name2:Mateo

In [37]:
#Writing down manually choosed items from list above to delete from list
indexed_to_delete = [
98
,2210
,6420
,7196
,9136
,10167
,40357
,40407
,40409
,40542
,44093
,45639
,46014
,53953
,58502
,58982
,59428
,84731
,85190
,91266
,91445
,91714
,94062
,99632
]

In [38]:
#deleting items from list of df_equal_names
df_equal_names = df_equal_names.drop(index=indexed_to_delete)

In [41]:
#Creating dictionary where key = Name for replacing and value = new name

#first, creating list of names for looping
lnames_loop = pd.unique(df_equal_names[['Name1', 'Name2']].values.ravel('K'))
                        
#dtoreplace - resuly dictionary
dtoreplace = {}
                        
#fill in dict                        
for i in lnames_loop:
     if dtoreplace.get(i) == None: #if name is already exists, ignore
        dtoreplace[i] = i #replace name to the same name for futher check if the name is already exist
        #ltemp_list - get all names to replace for i
        ltemp_list = pd.unique(df_equal_names[(df_equal_names["Name1"] == i) | (df_equal_names["Name2"] == i)].values.ravel('K')) 
        for j in ltemp_list:
            if dtoreplace.get(j) == None: #if name is already exists, ignore
                print(j + ' replaced by ' + i)
                dtoreplace[j] = i #each name from ltemp_list replacing by i
                        
#as a result we are printing logs of replacements

Olivier replaced by Oliver
Nicolò replaced by Nico
Nicola replaced by Nico
Nicolas replaced by Nico
Nicolae replaced by Nico
Jon replaced by Jonathan
Johan replaced by Jonathan
António replaced by Antonio
Davide replaced by David
Maxim replaced by Maximilian
Alejandro replaced by Aleksandar
Alessandro replaced by Aleksandar
Alexander replaced by Aleksandar
Alexandru replaced by Aleksandar
Oleksandr replaced by Aleksandar
Florin replaced by Florian
Florinel replaced by Florian
Jemal replaced by Jamal
Tomas replaced by Thomas
Denis replaced by Deniz
Niklas replaced by Niclas
Zan replaced by Zander
Jaka replaced by Jack
Granit replaced by Grant
Andrej replaced by Andrew
Andrea replaced by Andrew
Andreas replaced by Andrew
Andrei replaced by Andrew
Gregor replaced by Greg
Kenan replaced by Kenny
Peter replaced by Péter
William replaced by Willi
Loïs replaced by Loïc
Anders replaced by András
Daniel replaced by Dániel
Krzysztof replaced by Krisztofer
Martín replaced by Martin
Marin replaced by Martin
Marcin replaced by Martin
Fabián replaced by Fabian
Leo replaced by Leonidas
Riccardo replaced by Ricardo
Aaron replaced by Ardon
Michael replaced by Michel
Michal replaced by Michel
Dani replaced by Dan
Dean replaced by Dan
Dusan replaced by Dan
Dušan replaced by Dan
Deian replaced by Dan
Danilo replaced by Dan
Alex replaced by Álex
Marco replaced by Marc
Mark replaced by Marc
Marcel replaced by Marc
Marcus replaced by Marc
Marcelo replaced by Marc
Pedro replaced by Pedri
Mikkel replaced by Mikel
Mike replaced by Mikel
Ferland replaced by Ferran
Marko replaced by Mario
Matteo replaced by Mateo
Matej replaced by Mateo
Luke replaced by Luka
Lukasz replaced by Luka
Lukas replaced by Luka
Nika replaced by Nikola
Adrian replaced by Andrija
Andraz replaced by Andrija
Andriy replaced by Andrija
Arda replaced by Ardian
Mirlind replaced by Arlind
Ivan replaced by Iván
Amadou replaced by Armando
Frederik replaced by Federico
Brian replaced by Bryan
Mathias replaced by Mattia
Matthias replaced by Mattia
Stefan replaced by Stephan
Jannik replaced by Jan
Tomi replaced by Timi
Joey replaced by Joe
Jure replaced by Jude
Kacper replaced by Kasper
Joakim replaced by Joachim
Yann replaced by Yannick
Viktor replaced by Victor
Chris replaced by Christian
Cristiano replaced by Christian
Youssouf replaced by Yussuf
Yusuf replaced by Yussuf
Saba replaced by Saša
Bart replaced by Bartosz
Kai replaced by Kamil
Georgiy replaced by Georginio
Patrik replaced by Patrick
Phil replaced by Philipp
Phillipp replaced by Philipp
Roman replaced by Romano
Darius replaced by Marius
Sandro replaced by Leandro
Robert replaced by Norbert
Matheus replaced by Matus
Georges replaced by George

In [42]:
# print dictionary 
dtoreplace

{'Oliver': 'Oliver',
 'Olivier': 'Oliver',
 'Nico': 'Nico',
 'Nicolò': 'Nico',
 'Nicola': 'Nico',
 'Nicolas': 'Nico',
 'Nicolae': 'Nico',
 'Jonathan': 'Jonathan',
 'Jon': 'Jonathan',
 'Johan': 'Jonathan',
 'Antonio': 'Antonio',
 'António': 'Antonio',
 'David': 'David',
 'Davide': 'David',
 'Maximilian': 'Maximilian',
 'Maxim': 'Maximilian',
 'Aleksandar': 'Aleksandar',
 'Alejandro': 'Aleksandar',
 'Alessandro': 'Aleksandar',
 'Alexander': 'Aleksandar',
 'Alexandru': 'Aleksandar',
 'Oleksandr': 'Aleksandar',
 'Florian': 'Florian',
 'Florin': 'Florian',
 'Florinel': 'Florian',
 'Jamal': 'Jamal',
 'Jemal': 'Jamal',
 'Thomas': 'Thomas',
 'Tomas': 'Thomas',
 'Deniz': 'Deniz',
 'Denis': 'Deniz',
 'Niclas': 'Niclas',
 'Niklas': 'Niclas',
 'Zander': 'Zander',
 'Zan': 'Zander',
 'Jack': 'Jack',
 'Jaka': 'Jack',
 'Grant': 'Grant',
 'Granit': 'Grant',
 'Andrew': 'Andrew',
 'Andrej': 'Andrew',
 'Andrea': 'Andrew',
 'Andreas': 'Andrew',
 'Andrei': 'Andrew',
 'Greg': 'Greg',
 'Gregor': 'Greg',
 'John': 'John',
 'Kenny': 'Kenny',
 'Kenan': 'Kenny',
 'Péter': 'Péter',
 'Peter': 'Péter',
 'Willi': 'Willi',
 'William': 'Willi',
 'Loïc': 'Loïc',
 'Loïs': 'Loïc',
 'András': 'András',
 'Anders': 'András',
 'Dániel': 'Dániel',
 'Daniel': 'Dániel',
 'Krisztofer': 'Krisztofer',
 'Krzysztof': 'Krisztofer',
 'Martin': 'Martin',
 'Martín': 'Martin',
 'Marin': 'Martin',
 'Marcin': 'Martin',
 'Fabian': 'Fabian',
 'Fabián': 'Fabian',
 'Leonidas': 'Leonidas',
 'Leo': 'Leonidas',
 'Ricardo': 'Ricardo',
 'Riccardo': 'Ricardo',
 'Dennis': 'Dennis',
 'Ardon': 'Ardon',
 'Aaron': 'Ardon',
 'Michel': 'Michel',
 'Michael': 'Michel',
 'Michal': 'Michel',
 'Dan': 'Dan',
 'Dani': 'Dan',
 'Dean': 'Dan',
 'Dusan': 'Dan',
 'Dušan': 'Dan',
 'Deian': 'Dan',
 'Danilo': 'Dan',
 'Álex': 'Álex',
 'Alex': 'Álex',
 'Marc': 'Marc',
 'Marco': 'Marc',
 'Mark': 'Marc',
 'Marcel': 'Marc',
 'Marcus': 'Marc',
 'Marcelo': 'Marc',
 'Pedri': 'Pedri',
 'Pedro': 'Pedri',
 'Mikel': 'Mikel',
 'Mikkel': 'Mikel',
 'Mike': 'Mikel',
 'Ferran': 'Ferran',
 'Ferland': 'Ferran',
 'Mario': 'Mario',
 'Marko': 'Mario',
 'Mateo': 'Mateo',
 'Matteo': 'Mateo',
 'Matej': 'Mateo',
 'Luka': 'Luka',
 'Luke': 'Luka',
 'Lukasz': 'Luka',
 'Lukas': 'Luka',
 'Nikola': 'Nikola',
 'Nika': 'Nikola',
 'Marek': 'Marek',
 'Andrija': 'Andrija',
 'Adrian': 'Andrija',
 'Andraz': 'Andrija',
 'Andriy': 'Andrija',
 'Ondrej': 'Ondrej',
 'Ardian': 'Ardian',
 'Arda': 'Ardian',
 'Arlind': 'Arlind',
 'Mirlind': 'Arlind',
 'Iván': 'Iván',
 'Ivan': 'Iván',
 'Armando': 'Armando',
 'Amadou': 'Armando',
 'Federico': 'Federico',
 'Frederik': 'Federico',
 'Bryan': 'Bryan',
 'Brian': 'Bryan',
 'Mattia': 'Mattia',
 'Mathias': 'Mattia',
 'Matthias': 'Mattia',
 'Stephan': 'Stephan',
 'Stefan': 'Stephan',
 'Jan': 'Jan',
 'Jannik': 'Jan',
 'Zanka': 'Zanka',
 'Petar': 'Petar',
 'Jonas': 'Jonas',
 'Adrien': 'Adrien',
 'Adam': 'Adam',
 'Miha': 'Miha',
 'Timi': 'Timi',
 'Tomi': 'Timi',
 'Toni': 'Toni',
 'Joe': 'Joe',
 'Joey': 'Joe',
 'Jude': 'Jude',
 'Jure': 'Jude',
 'Kasper': 'Kasper',
 'Kacper': 'Kasper',
 'Joachim': 'Joachim',
 'Joakim': 'Joachim',
 'Yannick': 'Yannick',
 'Yann': 'Yannick',
 'Victor': 'Victor',
 'Viktor': 'Victor',
 'Christian': 'Christian',
 'Chris': 'Christian',
 'Cristiano': 'Christian',
 'Matthijs': 'Matthijs',
 'Yussuf': 'Yussuf',
 'Youssouf': 'Yussuf',
 'Yusuf': 'Yussuf',
 'Saša': 'Saša',
 'Saba': 'Saša',
 'Bartosz': 'Bartosz',
 'Bart': 'Bartosz',
 'Kamil': 'Kamil',
 'Kai': 'Kamil',
 'Ștefan': 'Ștefan',
 'Georginio': 'Georginio',
 'Georgiy': 'Georginio',
 'Patrick': 'Patrick',
 'Patrik': 'Patrick',
 'Philipp': 'Philipp',
 'Phil': 'Philipp',
 'Phillipp': 'Philipp',
 'Leopold': 'Leopold',
 'Christoph': 'Christoph',
 'Romano': 'Romano',
 'Roman': 'Romano',
 'Marius': 'Marius',
 'Darius': 'Marius',
 'Leandro': 'Leandro',
 'Sandro': 'Leandro',
 'Norbert': 'Norbert',
 'Robert': 'Norbert',
 'Matus': 'Matus',
 'Matheus': 'Matus',
 'Leroy': 'Leroy',
 'George': 'George',
 'Georges': 'George',
 'Sergiy': 'Sergiy',
 'Giorgi': 'Giorgi'}

In [43]:
# Replacing names in original dataset
df_palyersName['Name'] = df_palyersName['Name'].replace(dtoreplace)

### And finally there are top 5 common names of players at EURO 2024 !

In [47]:
top_5_names = df_palyersName['Name'].value_counts().head(5)
top_5_names

Name
Luka          12
Aleksandar    12
Thomas        11
David         10
Marc           8
Name: count, dtype: int64